body{
  margin: 0;
}

.header{
  height: 40px;
  background-color: black;
  display:flex;
  flex-direction: row;
  height: 80px;
}

.logo-name img{
  display: inline-block;
  object-fit: cover;
  object-position: center;
  width: 80px;
  height: auto;
  border-radius: 40px;
}

.contact-info{
  display: flex;
  align-items: center; /* Ensures text and icons share the same vertical center */
  background-color: black;
  margin-left: auto;
  color: white;
  font-size: 20px;
  margin-top: 0px;
}

.resume{
  margin-right: 40px;
  transition: text-shadow 0.4s;
}

.resume:hover{
  cursor:pointer;
  opacity: 0.9;
  text-shadow:
    0 2px 16px white,
    0 0 32px white;
}
.about{
  margin-right: 40px;
  transition: text-shadow 0.4s;
}

.about:hover{
  cursor:pointer;
  opacity: 0.9;
  text-shadow:
    0 2px 16px white,
    0 0 32px white;
}

.contact{
  margin-right: 30px;
  transition: text-shadow 0.4s;
}

.contact:hover{
  cursor:pointer;
  opacity: 0.9;  
  text-shadow:
    0 2px 16px white,
    0 0 32px white;
}

.linkedin img{
  vertical-align: middle; /* aligns with text */
  height: 40px; /* match the text height visually */
  width: auto;
  margin-right: 20px;
}

.github img{
  vertical-align: middle; /* aligns with text */
  height: 30px; /* match the text height visually */
  width: auto;
  border-radius: 50%;
  margin-right: 20px; 
}

.linkedin img:hover, 
.github img:hover{
  cursor: pointer;
  opacity: 0.9;
  text-shadow:
    0 2px 16px white,
    0 0 32px white;
}